.tabs-with-soft {
    width: 100%;
}

.tabs {
    box-sizing: border-box;
    width: 1170px;
    height: 540px;
    margin: 0 auto;
}

.tabs__navigate {
    margin-top: 99px;
    width: 100%;
    height: 40px;
    color: #333;
    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
}

.tabs__navigate__one {
    display: inline-block;
    width: 203px;
    border-radius: 5px 5px 0px 0px;
    border-top: 1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
}

.tabs__navigate__two {
    display: inline-block;
    width: 184px;
    border-bottom: 1px solid #C6CBCD;

}

.tabs__navigate__three {
    display: inline-block;
    width: 184px;
    border-bottom: 1px solid #C6CBCD;
}

.tabs__navigate__none {
    display: inline-block;
    width: 585px;
    border-bottom: 1px solid #C6CBCD;
    color: #ffffff;
}

.tabs-blocks {
    width: 100%;
    height: 500px;
    display: inline-block;
    border-left: 1px solid #C6CBCD;
    border-bottom: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
}

.left {
    display: inline-block;
    width: 565px;
    padding-left: 100px;
    padding-right: 30px;
    vertical-align: top;
}

.left__title {
    color: #000;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 570px;
    height: 90px;
}

.left__subtitle {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 570px;
    height: 210px;
}

.left__button {
    display: block;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 58px;
    text-transform: capitalize;
    background: #EC7979;
    width: 270px;
    height: 58px; 
    text-decoration: none;  
}

.right {
    display: inline-block;
    width: 470px;
    height: 500px;
}