.awesome {
    width: 100%;
    margin: 0 auto;
}

.blocks {
    width: 100%;
    margin: 0 auto;
}

.sections {
    display: inline-block;
    width: 33%;

}

.sections__logo {
    padding: 0px 100px 0px 113px;
}

.sections__title {
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.sections__subtitle {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 8px;
}

@media (max-width: 1230px) {
    .cap {
        width: 95%;
    }
    .blocks {
        width: 95%;
    }
    .awesome {
        width: 95%;
    }
    .sections__logo {
        padding: 0;
        display: block;
        margin: 0 auto;
    }
    
}
@media (max-width: 870px) {
    .sections {
        display: block;
        width: 95%;
        margin: 0 auto; 
    }
    
}