.prices {
    background: #F5F5F5;
    width: 100%;
    margin-top: 50px;
}
.group {
    margin: 0 auto;
    padding-bottom: 50px;
    display: flex;
    width: 1170px;
    justify-content: space-between;
}
.items {  
    display: flex;
    flex-direction: column;

}
.items_hover:hover {
    position: relative;
    bottom: 20px;
}
.items__window {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F5F5F5;
    width: 370px;    
    font-style: normal;
    line-height: normal;
    text-align: center;
}
.items__window_black {
    background: #333;
}
.items__window_white {
    height: 50px;
    background: #FFF;
    color: #86878B;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}
.items__window_top {
    height: 60px;
    color: #FFF;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.items__window_middle {
    height: 100px;
    color: #FFF;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 700;
}
.items__window_bottom {
    height: 50px;
    color: rgba(255, 255, 255, 0.50);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
}

@media (max-width: 1230px) {
    .group {
        width: 95%;
    }
}

@media (max-width: 1220px) {
    .group {
        display: block;
        margin: 0 auto;
    }
    .items {
        margin-bottom: 27px;
        align-items: center;
    }
    .items_hover:hover {
        bottom: 0;
    }
}
@media (max-width: 420px) {
    .items__window {
        width: 95%;
    }
}