.header {
    width: 100%;
    background-color: black;
}
.header-items {
    width: 1170px;
    height: 75px;
    margin: 0 auto;
    display: flex;    
}
.header-items-logo {
    width: 50%;
}
.header-items-navigation {
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.header-items-alternative {
    width: 50%;
    display: none;
}
.header-items-alternative__vector {
    width: 24px;
    height: 18px;
}
.header-items-navigation__menu {
    display: flex;
    align-items: center;
    width: 113.799px;
    height: 75px;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

@media (max-width: 1230px) {
    .header-items{
        width: 95%;
    }
}
@media (max-width: 750px) {
    .header-items-navigation {
        width: 65%;
    }
}
@media (max-width: 580px) {
    .header-items-navigation {
        display: none;
    }
    .header-items-alternative{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}