.customers {
    width: 100%;
    box-sizing: border-box;
}
.customers-blocks {
    margin: 0 auto;
    padding-bottom: 50px;
    width: 1170px;
    display: flex;
    justify-content: space-between;
}
.columns {
    width: 370px;
    height: 336px;
    position: relative;
}
.columns__text {
    width: 370px;
    height: 180px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: #E2E2E2;
    color: #86878B;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
}
.columns__photo {
    margin-top: 66px;
}
.columns__title {
    display: inline-block;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
    bottom: 36px;
    left: 30px;
}
.columns__subtitle {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    bottom: 15px;
    left: 104px;
}
.columns__polygon {
    position: absolute;
    bottom: 136px;
    left: 70px;
}
