.prices {
    background: #F5F5F5;
    width: 100%;
    margin-top: 150px;
    box-sizing: border-box;
}
.heading {
    box-sizing: border-box;
    width: 1170px;
    margin: 0 auto;
}
.heading__title {
    padding: 100px 10px 50px 10px;
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.heading__line {
    width: 170px;
    border: 1px solid #EC7979;
    margin: 0 auto;
}
.heading__subtitle {
    padding-top: 40px;
    padding-bottom: 50px;
    color: #86878B;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.group {
    margin: auto;
    padding-bottom: 50px;
    display: flex;
    width: 1170px;
    justify-content: space-between;
}
.items {
    display: flex;
    flex-direction: column;
}   
.items__window {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F5F5F5;
}
.black {
    background: #333;
}
.white {
    width: 370px;
    height: 50px;
    background: #FFF;
    color: #86878B;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.top {
    width: 370px;
    height: 60px;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.middle {
    width: 369px;
    height: 100px;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.bottom {
    width: 370px;
    height: 50px;
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
