.prices {
    background: #F5F5F5;
    width: 100%;
    margin-top: 150px;
    box-sizing: border-box;
}
.cap {
    box-sizing: border-box;
    width: 1170px;
    margin: 0 auto;
}
.cap__title {
    padding: 100px 10px 50px 10px;
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.cap__line {
    width: 170px;
    border: 1px solid #EC7979;
    margin: 0 auto;
}
.cap__subtitle {
    padding-top: 40px;
    padding-bottom: 50px;
    color: #86878B;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.group {
    margin: auto;
    padding-bottom: 50px;
    display: flex;
    width: 1170px;
    justify-content: space-between;
}
.items:hover {  
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 20px;
}
.items__window {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F5F5F5;
    width: 370px;    
    font-style: normal;
    line-height: normal;
    text-align: center;
}
.items__window_black {
    background: #333;
}
.items__window_white {
    height: 50px;
    background: #FFF;
    color: #86878B;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}
.items__window_top {
    height: 60px;
    color: #FFF;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.items__window_middle {
    height: 100px;
    color: #FFF;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 700;
}
.items__window_bottom {
    height: 50px;
    color: rgba(255, 255, 255, 0.50);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
}
