.tabs {
    margin-top: 99px;
    width: 100%;
}

.tabs-main {
    box-sizing: border-box;
    width: 1170px;
    height: 540px;
    margin: 0 auto;
}

.tabs-navigate {
    width: 100%;
    height: 40px;
    color: #333;
    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
}

.tabs-navigate__one {
    display: inline-block;
    width: 203px;
    border-radius: 5px 5px 0px 0px;
    border-top: 1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
    margin-left: -13px;
}

.tabs-navigate__two {
    display: inline-block;
    width: 184px;
    border-bottom: 1px solid #C6CBCD;
    margin-left: -4px;

}

.tabs-navigate__three {
    display: inline-block;
    width: 184px;
    border-bottom: 1px solid #C6CBCD;
    margin-left: -4px;
}

.tabs-navigate__none {
    display: inline-block;
    width: 601px;
    border-bottom: 1px solid #C6CBCD;
    color: #ffffff;
    margin-left: -20px;
    
}

.tabs-blocks {
    width: 100%;
    height: 500px;
    display: inline-block;
    border-left: 1px solid #C6CBCD;
    border-bottom: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
}

.left {
    display: inline-block;
    width: 565px;
    padding-left: 100px;
    padding-right: 30px;
    vertical-align: top;
}

.left__title {
    color: #000;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 570px;
    height: 90px;
}

.left__subtitle {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 570px;
    height: 210px;
}

.left__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 58px; 
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    background: #EC7979;
    text-decoration: none;  
}

.right {
    display: inline-block;
    width: 470px;
    height: 500px;
}

@media (max-width: 1230px) {
    .tabs-main {
        width: 100%;
        height: 100%;
    }
    .right {
        display: none;
    }
    .tabs-navigate {
        margin: 0 auto;
        width: 95%;
        display: flex   ;
    }
    .tabs-navigate__one {
        width: 25%;
        margin-left: -1px;
    }
    .tabs-navigate__two {
        width: 25%;
        margin-left: 0px;
    }
    .tabs-navigate__three {
        width: 100%;
        text-align: start;
    }
    .tabs-navigate__none {
        display: none;
    }
    .tabs-blocks {
        display: block;
        width: 95%;
        height: 100%;
        margin: 0 auto;
    }
    .left {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
        width: 95%;
        margin: 0 auto;
    }
    .left__title {
        width: 80%;
        height: 100%;
        text-align: center;
    }
    .left__subtitle {
        width: 80%;
        height: 100%;
        text-align: center;
    }
    .left__button {
        margin-bottom: 30px;
    }
}

@media (max-width: 700px) {
    .tabs-navigate__one {
        width: 33%;
    }
    .tabs-navigate__two {
        width: 33%;
    }
    .tabs-navigate__three {
        width: 34%;
        text-align: center;
    }
    .left__button {
        width: 90%;
    }
}